# SALTSTACK CODE OWNERS

# See https://help.github.com/articles/about-codeowners/
# for more info about the CODEOWNERS file

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# This file uses an fnmatch-style matching pattern.

# Team Core
*                                   @saltstack/team-core

# Team Boto
salt/*/*boto*                       @saltstack/team-boto @saltstack/team-core

# Team Cloud
salt/cloud/*                        @saltstack/team-cloud @saltstack/team-core
salt/utils/openstack/*              @saltstack/team-cloud @saltstack/team-core
salt/utils/aws.py                   @saltstack/team-cloud @saltstack/team-core
salt/*/*cloud*                      @saltstack/team-cloud @saltstack/team-core

# Team NetAPI
salt/cli/api.py                     @saltstack/team-netapi @saltstack/team-core
salt/client/netapi.py               @saltstack/team-netapi @saltstack/team-core
salt/netapi/*                       @saltstack/team-netapi @saltstack/team-core

# Team Network
salt/proxy/*                        @saltstack/team-proxy @saltstack/team-core

# Team SPM
salt/cli/spm.py                     @saltstack/team-spm @saltstack/team-core
salt/spm/*                          @saltstack/team-spm @saltstack/team-core

# Team SSH
salt/cli/ssh.py                     @saltstack/team-ssh @saltstack/team-core
salt/client/ssh/*                   @saltstack/team-ssh @saltstack/team-core
salt/roster/*                       @saltstack/team-ssh @saltstack/team-core
salt/runners/ssh.py                 @saltstack/team-ssh @saltstack/team-core
salt/*/thin.py                      @saltstack/team-ssh @saltstack/team-core

# Team State
salt/state.py                       @saltstack/team-state @saltstack/team-core

# Team SUSE
salt/*/*btrfs*                      @saltstack/team-suse @saltstack/team-core
salt/*/*kubernetes*                 @saltstack/team-suse @saltstack/team-core
salt/*/*pkg*                        @saltstack/team-suse @saltstack/team-core
salt/*/*snapper*                    @saltstack/team-suse @saltstack/team-core
salt/*/*xfs*                        @saltstack/team-suse @saltstack/team-core
salt/*/*zypper*                     @saltstack/team-suse @saltstack/team-core

# Team Transport
salt/transport/*                    @saltstack/team-transport @saltstack/team-core
salt/utils/zeromq.py                @saltstack/team-transport @saltstack/team-core

# Team Windows
salt/*/*win*                        @saltstack/team-windows @saltstack/team-core
salt/modules/reg.py                 @saltstack/team-windows @saltstack/team-core
salt/states/reg.py                  @saltstack/team-windows @saltstack/team-core
tests/*/*win*                       @saltstack/team-windows @saltstack/team-core
tests/*/test_reg.py                 @saltstack/team-windows @saltstack/team-core

# Jenkins Integration
.ci/*                               @saltstack/saltstack-sre-team @saltstack/team-core
