build
*.py[co]
pkg/arch/*.tar.xz
*.swp
doc/_build
dist
MANIFEST

# virtualenv
# - ignores directories of a virtualenv when you create it right on
#   top of salt such as
# - /some/path$ git clone https://github.com/thatch45/salt.git
# - /some/path$ virtualenv --python=/usr/bin/python2.6 salt
bin/
include/
lib/
pip/
share/

# tox - ignore any tox-created virtualenv dirs
.tox

# setuptools stuff
*.egg-info

# code coverage outputs genereated by coverage.py
.coverage
coverage.xml
htmlcov/
/.project
/.pydevproject

# The bootstrap script
saltcloud/deploy/bootstrap-salt.sh
