language: python

python:
  - '2.6'
  - '2.7'

branches:
  only:
    - develop

before_install:
  - sudo apt-get update && sudo apt-get install swig
  - pip install http://dl.dropbox.com/u/174789/m2crypto-0.20.1.tar.gz
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; fi"

install: pip install -r requirements.txt --use-mirrors
script: python setup.py test

notifications:
  irc:
    channels: "irc.freenode.org#salt"
    on_success: change
    on_failure: change
