include AUTHORS
include HACKING.rst
include LICENSE
include README.rst
include requirements.txt
include tests/*.py
recursive-include tests *
include tests/integration/modules/files/*
include tests/integration/files/*
include tests/unit/templates/files/*
recursive-include doc *
recursive-include scripts *
include conf/*
recursive-include salt *.jinja
