aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.6
cheroot==8.5.2
croniter==1.0.15
cryptography==3.4.8
distro==1.7.0
frozenlist==1.2.0
idna==3.3
importlib-metadata==4.6.4
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.text==3.6.0
jinja2==3.0.3
jmespath==0.10.0
markupsafe==2.0.1
more-itertools==8.10.0
msgpack==1.0.3
multidict==5.1.0
packaging==21.3
portend==3.0.0
psutil==5.9.0
pycparser==2.21
pycryptodomex==3.11.0
pyopenssl==21.0.0
python-dateutil==2.8.1
python-gnupg==0.4.8
pytz==2022.1
pyyaml==5.4.1
pyzmq==22.3.0
requests==2.25.1
setproctitle==1.2.2
six==1.16.0
tempora==4.1.2
tornado==6.1.0
urllib3==1.26.5
yarl==1.7.2
zc.lockfile==2.0
zipp==1.0.0
