Package: salt
Version: 0.9.2-2
Architecture: all
Maintainer: Aaron Toponce <aaron.toponce@gmail.com>
Installed-Size: 500
Depends: python (>= 2.6), python-support (>= 0.90.0), python-setuptools, python-yaml, python-crypto, python-m2crypto, python-zmq, libzmq1, libzmq-dev
Section: admin
Priority: optional
Homepage: http://saltstack.org
Description: This package provides a remote manager to administer servers.
 This package is a powerful remote execution manager that can be used to
 administer servers in a fast and efficient way.
 .
 It allows commands to be executed across large groups of servers. This
 means systems can be easily managed, but data can also be easily gathered.
 Quick introspection into running systems becomes a reality.
 .
 Remote execution is usually used to set up a certain state on a remote
 system. Salt addresses this problem as well, the salt state system uses
 salt state files to define the state a server needs to be in.
 .
 Between the remote execution system, and state management Salt addresses
 the backbone of cloud and data center management.
