#!/usr/bin/make -f
DH_VERBOSE = 1

%:
	dh $@

# dh_auto_clean tries to invoke distutils causing failures.
override_dh_auto_clean:
	rm -rf build
	rm -rf debian/salt-common
	rm -rf debian/salt-minion
	rm -rf debian/salt-master
	rm -rf debian/salt-syndic
	rm -rf debian/salt-ssh

override_dh_auto_build:
	mkdir build
	test -n "${ONEDIR_DEPS_ARCHIVE}" \
		&& cd build \
		&& tar xf ${ONEDIR_DEPS_ARCHIVE} \
		&& cd .. \
		|| true
	test -z "${ONEDIR_DEPS_ARCHIVE}" \
		&& python3 -m venv --clear --copies build/venv \
		&& build/venv/bin/python3 -m pip install relenv \
		&& build/venv/bin/relenv fetch \
		&& build/venv/bin/relenv toolchain fetch \
		&& build/venv/bin/relenv create build/salt \
		&& build/salt/bin/python3 -m pip install "pip>=22.3.1,<23.0" "setuptools>=65.6.3,<66" "wheel" \
		&& export PY=$$(build/salt/bin/python3 -c 'import sys; sys.stdout.write("{}.{}".format(*sys.version_info)); sys.stdout.flush()') \
		&& build/salt/bin/python3 -m pip install -r requirements/static/pkg/py$${PY}/linux.txt \
		|| true

	export USE_STATIC_REQUIREMENTS=1
	export RELENV_PIP_DIR=1
	test -n "${SALT_SRC_TARBALL}" \
		&& build/salt/bin/python3 -m pip install --no-warn-script-location "${SALT_SRC_TARBALL}" \
		|| build/salt/bin/python3 -m pip install --no-warn-script-location .

	build/salt/bin/python3 -m venv --clear --copies build/tools
	export PY=$$(build/tools/bin/python3 -c 'import sys; sys.stdout.write("{}.{}".format(*sys.version_info)); sys.stdout.flush()') \
		&& build/tools/bin/python3 -m pip install -r requirements/static/ci/py$${PY}/tools.txt
	build/tools/bin/tools pkg pre-archive-cleanup --pkg build/salt

# dh_auto_install tries to invoke distutils causing failures.
override_dh_auto_install:


override_dh_install:
	mkdir -p debian/salt-common/usr/opt/saltstack
	cp -R build/salt debian/salt-common/usr/opt/saltstack/
	dh_install
