[Unit]
Description=The Salt Minion daemon
After=network.target salt-master.service

[Service]
Type=notify
KillMode=process
NotifyAccess=all
LimitNOFILE=8192
ExecStart=/usr/bin/salt-minion
SELinuxContext=system_u:system_r:unconfined_t:s0

[Install]
WantedBy=multi-user.target
