<%- for type, display_name in (
                                ("src", "Source"),
                                ("deb", "DEB"),
                                ("rpm", "RPM"),
                                ("windows", "Windows"),
                                ("macos", "macOS"),
                                ("onedir", "Onedir"),
                              ) %>

  <%- set job_name = "build-{}-repo".format(type) %>
    <%- do build_repo_needs.append(job_name) %>

  <{ job_name }>:
    name: Build Repository
    environment: <{ gh_environment }>
    runs-on:
      - linux-x86_64
    env:
      USE_S3_CACHE: 'false'
    needs:
      - prepare-workflow
      <%- if type not in ("src", "onedir") %>
	<%- if type in ("deb", "rpm") %>
      - build-pkgs-onedir
        <%- else %>
      - build-pkgs-onedir-<{ type }>
        <%- endif %>
      <%- elif type == 'onedir' %>
      - build-salt-onedir
      <%- elif type == 'src' %>
      - build-source-tarball
      - build-pkgs-src
      <%- endif %>

    <%- include "build-{}-repo.yml.jinja".format(type) %>

<%- endfor %>
