<%- for type, display_name, needs_pkg in (
                                          ("src", "Source", False),
                                          ("deb", "DEB", True),
                                          ("rpm", "RPM", True),
                                          ("windows", "Windows", True),
                                          ("macos", "macOS", True),
                                          ("onedir", "Onedir", False),
                                        ) %>

  <%- set job_name = "build-{}-repo".format(type) %>
    <%- do build_repo_needs.append(job_name) %>

  <{ job_name }>:
    name: Build <{ display_name }> Repository
    environment: <{ gh_environment }>
    runs-on:
      - self-hosted
      - linux
      - repo-<{ gh_environment }>
    needs:
      - prepare-workflow
      <%- if needs_pkg %>
      - build-<{ type }>-pkgs
      <%- else %>
      - build-salt-onedir
      <%- endif %>
    <%- include "build-{}-repo.yml.jinja".format(type) %>

<%- endfor %>
