
  <%- for slug, display_name, arch in build_ci_deps_listing["windows"] %>

  <{ slug.replace(".", "") }>-ci-deps:
    <%- do test_salt_needs.append(slug.replace(".", "") + "-ci-deps") %>
    name: <{ display_name }>
    if: ${{ fromJSON(needs.prepare-workflow.outputs.jobs)['test'] && fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir-windows
    uses: ./.github/workflows/build-deps-ci-action.yml
    with:
      distro-slug: <{ slug }>
      nox-session: ci-test-onedir
      platform: windows
      arch: amd64
      nox-version: <{ nox_version  }>
      python-version: "<{ gh_actions_workflows_python_version }>"
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-prefix: ${{ needs.prepare-workflow.outputs.cache-seed }}|<{ python_version }>

  <%- endfor %>


  <%- for slug, display_name, arch in build_ci_deps_listing["macos"] %>

  <{ slug.replace(".", "") }>-ci-deps:
    <%- do test_salt_needs.append(slug.replace(".", "") + "-ci-deps") %>
    name: <{ display_name }>
    if: ${{ fromJSON(needs.prepare-workflow.outputs.jobs)['test'] && fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir-macos
    uses: ./.github/workflows/build-deps-ci-action-macos.yml
    with:
      distro-slug: <{ slug }>
      nox-session: ci-test-onedir
      platform: darwin
      arch: x86_64
      nox-version: <{ nox_version  }>
      python-version: "<{ gh_actions_workflows_python_version }>"
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-prefix: ${{ needs.prepare-workflow.outputs.cache-seed }}|<{ python_version }>

  <%- endfor %>


  <%- for slug, display_name, arch in build_ci_deps_listing["linux"] %>

  <{ slug.replace(".", "") }>-ci-deps:
    <%- do test_salt_needs.append(slug.replace(".", "") + "-ci-deps") %>
    name: <{ display_name }>
    if: ${{ fromJSON(needs.prepare-workflow.outputs.jobs)['test'] && fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir-linux
    uses: ./.github/workflows/build-deps-ci-action.yml
    with:
      distro-slug: <{ slug }>
      nox-session: ci-test-onedir
      platform: linux
      arch: <{ arch }>
      nox-version: <{ nox_version  }>
      python-version: "<{ gh_actions_workflows_python_version }>"
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-prefix: ${{ needs.prepare-workflow.outputs.cache-seed }}|<{ python_version }>

  <%- endfor %>
