<%- extends 'layout.yml.j2' %>

<%- block on %>
on:
  push: {}
  pull_request: {}
<%- endblock on %>

<%- block jobs %>
  <{- super() }>

  <%- if includes.get('pre-commit', True) %>

  pre-commit:
    <%- do conclusion_needs.append('pre-commit') %>
    name: Pre-Commit
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}
    uses: ./.github/workflows/pre-commit-action.yml
    needs:
      - prepare-workflow
    with:
      changed-files: ${{ needs.prepare-workflow.outputs.changed-files }}

  <%- endif %>


  <%- if includes.get('docs', True) %>

  docs:
    <%- do conclusion_needs.append('docs') %>
    name: Build Docs
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}
    uses: ./.github/workflows/docs-action.yml
    needs:
      - prepare-workflow
    with:
      changed-files: ${{ needs.prepare-workflow.outputs.changed-files }}

  <%- endif %>


  <%- if includes.get('lint', True) %>

  lint:
    <%- do conclusion_needs.append('lint') %>
    name: Lint
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}
    uses: ./.github/workflows/lint-action.yml
    needs:
      - prepare-workflow
    with:
      changed-files: ${{ needs.prepare-workflow.outputs.changed-files }}

  <%- endif %>


  <%- if includes.get('prepare-release', True) %>

  prepare-release:
    name: Prepare Release
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}
    needs:
      - prepare-workflow
    uses: ./.github/workflows/prepare-release.yml
    with:
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"

  <%- endif %>


  <%- if includes.get('build-source-tarball', True) %>

  build-source-tarball:
    name: Build Source Tarball
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}
    needs:
      - prepare-workflow
      - prepare-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Setup Python Tools Scripts
        uses: ./.github/actions/setup-python-tools-scripts

      - name: Setup Salt Version
        id: setup-salt-version
        uses: ./.github/actions/setup-salt-version
        with:
          salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"

      - name: Build Source Tarball
        uses: ./.github/actions/build-source-tarball
        with:
          salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"

  <%- endif %>


  <%- if includes.get('build-deps-onedir', True) %>

  build-deps-onedir:
    <%- do conclusion_needs.append('build-deps-onedir') %>
    name: Build Dependencies Onedir
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
    uses: ./.github/workflows/build-deps-onedir.yml
    with:
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      self-hosted-runners: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
      github-hosted-runners: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}

  <%- endif %>


  <%- if includes.get('build-salt-onedir', True) %>

  build-salt-onedir:
    <%- do conclusion_needs.append('build-salt-onedir') %>
    name: Build Salt Onedir
    needs:
      - prepare-workflow
      - build-deps-onedir
      - build-source-tarball
    uses: ./.github/workflows/build-salt-onedir.yml
    with:
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      self-hosted-runners: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
      github-hosted-runners: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}

  <%- endif %>


  <%- if includes.get('build-pkgs', True) %>

  build-pkgs:
    <%- do conclusion_needs.append('build-pkgs') %>
    name: Build Salt Packages
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/build-packages.yml
    with:
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      self-hosted-runners: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
      github-hosted-runners: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}

  <%- endif %>


  <%- if includes.get('salt-tests', True) %>

  windows-2016:
    <%- do test_salt_needs.append('windows-2016') %>
    name: Windows 2016
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: windows-2016
      nox-session: ci-test-onedir
      platform: windows
      arch: amd64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  windows-2019:
    <%- do test_salt_needs.append('windows-2019') %>
    name: Windows 2019
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: windows-2019
      nox-session: ci-test-onedir
      platform: windows
      arch: amd64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  windows-2022:
    <%- do test_salt_needs.append('windows-2022') %>
    name: Windows 2022
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: windows-2022
      nox-session: ci-test-onedir
      platform: windows
      arch: amd64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  macos-12:
    <%- do test_salt_needs.append('macos-12') %>
    name: macOS 12
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['github-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action-macos.yml
    with:
      distro-slug: macos-12
      nox-session: ci-test-onedir
      platform: darwin
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  almalinux-8:
    <%- do test_salt_needs.append('almalinux-8') %>
    name: Alma Linux 8
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: almalinux-8
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  almalinux-9:
    <%- do test_salt_needs.append('almalinux-9') %>
    name: Alma Linux 9
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: almalinux-9
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  amazonlinux-2:
    <%- do test_salt_needs.append('amazonlinux-2') %>
    name: Amazon Linux 2
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: amazonlinux-2
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  archlinux-lts:
    <%- do test_salt_needs.append('archlinux-lts') %>
    name: Arch Linux LTS
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: archlinux-lts
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  centos-7:
    <%- do test_salt_needs.append('centos-7') %>
    name: CentOS 7
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: centos-7
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  centosstream-8:
    <%- do test_salt_needs.append('centosstream-8') %>
    name: CentOS Stream 8
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: centosstream-8
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  centosstream-9:
    <%- do test_salt_needs.append('centosstream-9') %>
    name: CentOS Stream 9
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: centosstream-9
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  debian-10:
    <%- do test_salt_needs.append('debian-10') %>
    name: Debian 10
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: debian-10
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  debian-11:
    <%- do test_salt_needs.append('debian-11') %>
    name: Debian 11
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: debian-11
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  debian-11-arm64:
    <%- do test_salt_needs.append('debian-11-arm64') %>
    name: Debian 11 Arm64
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: debian-11-arm64
      nox-session: ci-test-onedir
      platform: linux
      arch: aarch64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  fedora-36:
    <%- do test_salt_needs.append('fedora-36') %>
    name: Fedora 36
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: fedora-36
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  opensuse-15:
    <%- do test_salt_needs.append('opensuse-15') %>
    name: Opensuse 15
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: opensuse-15
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  photonos-3:
    <%- do test_salt_needs.append('photonos-3') %>
    name: Photon OS 3
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: photonos-3
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  photonos-4:
    <%- do test_salt_needs.append('photonos-4') %>
    name: Photon OS 4
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: photonos-4
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  ubuntu-1804:
    <%- do test_salt_needs.append('ubuntu-1804') %>
    name: Ubuntu 18.04
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: ubuntu-18.04
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  ubuntu-2004:
    <%- do test_salt_needs.append('ubuntu-2004') %>
    name: Ubuntu 20.04
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: ubuntu-20.04
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  ubuntu-2004-arm64:
    <%- do test_salt_needs.append('ubuntu-2004-arm64') %>
    name: Ubuntu 20.04 Arm64
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: ubuntu-20.04-arm64
      nox-session: ci-test-onedir
      platform: linux
      arch: aarch64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  ubuntu-2204:
    <%- do test_salt_needs.append('ubuntu-2204') %>
    name: Ubuntu 22.04
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: ubuntu-22.04
      nox-session: ci-test-onedir
      platform: linux
      arch: x86_64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  ubuntu-2204-arm64:
    <%- do test_salt_needs.append('ubuntu-2204-arm64') %>
    name: Ubuntu 22.04 Arm64
    if: ${{ fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    needs:
      - prepare-workflow
      - build-salt-onedir
    uses: ./.github/workflows/test-action.yml
    with:
      distro-slug: ubuntu-22.04-arm64
      nox-session: ci-test-onedir
      platform: linux
      arch: aarch64
      testrun: ${{ needs.prepare-workflow.outputs.testrun }}
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      cache-seed: ${{ needs.prepare-workflow.outputs.cache-seed }}

  <%- endif %>

<%- endblock jobs %>
