  <%- set job_name = "test-packages" %>
  <{ job_name }>:
    name: Test Package
    if: ${{ fromJSON(needs.prepare-workflow.outputs.config)['jobs']['test-pkg'] }}
    needs:
      - prepare-workflow
      - build-pkgs-onedir
      - build-ci-deps
    uses: ./.github/workflows/test-packages-action.yml
    with:
      nox-session: ci-test-onedir
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      nox-version: <{ nox_version  }>
      python-version: "<{ gh_actions_workflows_python_version }>"
      cache-prefix: ${{ needs.prepare-workflow.outputs.cache-seed }}|<{ python_version }>
      skip-code-coverage: <{ skip_test_coverage_check }>
      testing-releases: ${{ needs.prepare-workflow.outputs.testing-releases }}
      matrix: ${{ toJSON(fromJSON(needs.prepare-workflow.outputs.config)['pkg-test-matrix']) }}
      linux_arm_runner: ${{ fromJSON(needs.prepare-workflow.outputs.config)['linux_arm_runner'] }}
