
  <%- set linux_pkg_tests = (
                               ("almalinux-8", "Alma Linux 8", "x86_64"),
                               ("almalinux-8-arm64", "Alma Linux 8 Arm64", "aarch64"),
                               ("almalinux-9", "Alma Linux 9", "x86_64"),
                               ("almalinux-9-arm64", "Alma Linux 9 Arm64", "aarch64"),
                               ("amazonlinux-2", "Amazon Linux 2", "x86_64"),
                               ("amazonlinux-2-arm64", "Amazon Linux 2 Arm64", "aarch64"),
                               ("centos-7", "CentOS 7", "x86_64"),
                               ("centos-7-arm64", "CentOS 7 Arm64", "aarch64"),
                               ("centosstream-8", "CentOS Stream 8", "x86_64"),
                               ("centosstream-8-arm64", "CentOS Stream 8 Arm64", "aarch64"),
                               ("centosstream-9", "CentOS Stream 9", "x86_64"),
                               ("centosstream-9-arm64", "CentOS Stream 9 Arm64", "aarch64"),
                               ("debian-10", "Debian 10", "x86_64"),
                               ("debian-11", "Debian 11", "x86_64"),
                               ("debian-11-arm64", "Debian 11 Arm64", "aarch64"),
                               ("fedora-36", "Fedora 36", "x86_64"),
                               ("fedora-36-arm64", "Fedora 36 Arm64", "aarch64"),
                               ("fedora-37", "Fedora 37", "x86_64"),
                               ("fedora-37-arm64", "Fedora 37 Arm64", "aarch64"),
                               ("fedora-38", "Fedora 38", "x86_64"),
                               ("fedora-38-arm64", "Fedora 38 Arm64", "aarch64"),
                               ("photonos-3", "Photon OS 3", "x86_64"),
                               ("photonos-4", "Photon OS 4", "x86_64"),
                               ("ubuntu-20.04", "Ubuntu 20.04", "x86_64"),
                               ("ubuntu-20.04-arm64", "Ubuntu 20.04 Arm64", "aarch64"),
                               ("ubuntu-22.04", "Ubuntu 22.04", "x86_64"),
                               ("ubuntu-22.04-arm64", "Ubuntu 22.04 Arm64", "aarch64")
                            ) %>


  <%- for slug, display_name, arch in linux_pkg_tests %>
    <%- set job_name = "{}-pkg-download-tests".format(slug.replace(".", "")) %>

  <{ job_name }>:
    <%- do test_repo_needs.append(job_name) %>
    name: Test <{ display_name }> Package Downloads
    <%- if gh_environment == "staging" %>
    if: ${{ fromJSON(needs.prepare-workflow.outputs.jobs)['test-pkg-download'] && fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    <%- else %>
    if: ${{ inputs.skip-salt-pkg-download-test-suite == false }}
    <%- endif %>
    needs:
      - prepare-workflow
      - publish-repositories
    <%- if gh_environment == "release" %>
      - download-onedir-artifact
    <%- endif %>
    uses: ./.github/workflows/test-package-downloads-action-linux.yml
    with:
      distro-slug: <{ slug }>
      platform: linux
      arch: <{ arch }>
      cache-prefix: ${{ needs.prepare-workflow.outputs.cache-seed }}|<{ python_version_linux }>
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      environment: <{ gh_environment }>
      skip-code-coverage: true
      latest-release: "${{ needs.prepare-workflow.outputs.latest-release }}"
    secrets: inherit

  <%- endfor %>


  <%- for slug, display_name, arch in (
                                        ("macos-12", "macOS 12", "x86_64"),
                                      ) %>
    <%- set job_name = "{}-pkg-download-tests".format(slug.replace(".", "")) %>

  <{ job_name }>:
    <%- do test_repo_needs.append(job_name) %>
    name: Test <{ display_name }> Package Downloads
    <%- if gh_environment == "staging" %>
    if: ${{ fromJSON(needs.prepare-workflow.outputs.jobs)['test-pkg-download'] && fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    <%- else %>
    if: ${{ inputs.skip-salt-pkg-download-test-suite == false }}
    <%- endif %>
    needs:
      - prepare-workflow
      - publish-repositories
    <%- if gh_environment == "release" %>
      - download-onedir-artifact
    <%- endif %>
    uses: ./.github/workflows/test-package-downloads-action-macos.yml
    with:
      distro-slug: <{ slug }>
      platform: darwin
      arch: <{ arch }>
      cache-prefix: ${{ needs.prepare-workflow.outputs.cache-seed }}|<{ python_version_macos }>
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      environment: <{ gh_environment }>
      skip-code-coverage: true
      latest-release: "${{ needs.prepare-workflow.outputs.latest-release }}"
    secrets: inherit
  <%- endfor %>


  <%- for slug, display_name, arch in (
                                        ("windows-2022", "Windows 2022", "amd64"),
                                      ) %>
    <%- for pkg_type in ("NSIS", "MSI") %>
    <%- set job_name = "{}-{}-{}-pkg-download-tests".format(slug.replace(".", ""), pkg_type.lower(), arch.lower()) %>

  <{ job_name }>:
    <%- do test_repo_needs.append(job_name) %>
    <%- if gh_environment == "staging" %>
    if: ${{ fromJSON(needs.prepare-workflow.outputs.jobs)['test-pkg-download'] && fromJSON(needs.prepare-workflow.outputs.runners)['self-hosted'] }}
    <%- else %>
    if: ${{ inputs.skip-salt-pkg-download-test-suite == false }}
    <%- endif %>
    name: Test <{ display_name }> <{ arch }> <{ pkg_type }> Package Downloads
    needs:
      - prepare-workflow
      - publish-repositories
    <%- if gh_environment == "release" %>
      - download-onedir-artifact
    <%- endif %>
    uses: ./.github/workflows/test-package-downloads-action-windows.yml
    with:
      distro-slug: <{ slug }>
      platform: windows
      arch: <{ arch }>
      pkg-type: <{ pkg_type }>
      cache-prefix: ${{ needs.prepare-workflow.outputs.cache-seed }}|<{ python_version_windows }>
      salt-version: "${{ needs.prepare-workflow.outputs.salt-version }}"
      environment: <{ gh_environment }>
      skip-code-coverage: true
      latest-release: "${{ needs.prepare-workflow.outputs.latest-release }}"
    secrets: inherit
    <%- endfor %>
  <%- endfor %>
