[Unit]
Description=The Salt Minion
Documentation=man:salt-minion(1) file:///usr/share/doc/salt/html/contents.html https://docs.saltproject.io/en/latest/contents.html
After=network.target salt-master.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
KillMode=mixed
Type=notify
NotifyAccess=all
LimitNOFILE=8192
ExecStart=/usr/bin/salt-minion
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
