# Need to set a specific version of pyzmq, so can't use the main project's requirements file... have to copy it in and modify...
#-r ../../../zeromq-requirements.txt
-r ../../../_requirements.txt
M2Crypto
pycrypto
pyzmq == 13.1.0
-r requirements.txt
