{% extends "base.html" %}

{% block content %}
    <h1>{{ status }}</h1>
    <p>{{ message }}</p>
    <form method="post" action="/login">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <label for="eauth">Eauth:</label>
            <input type="text" name="eauth" value="pam">
        </p>
        <p>
            <button type="submit">Log in</button>
        </p>
    </form>
{% endblock %}
