Source: salt-cloud
Section: admin
Priority: optional
Maintainer: Sean Channel <pentabular@gmail.com>
Build-Depends: debhelper (>= 7.0.50),
               python | python-all | python-dev | python-all-dev,
               python-setuptools,
               python-sphinx,
               python-yaml
Standards-Version: 3.9.3
Homepage: http://saltstack.org
#X-Python-Version: >= 2.6, <= 2.7


Package: salt-cloud
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
         python,
         python-libcloud,
         salt-common,
         sshpass
Suggests: python-botocore
Description: public cloud VM management system
 provision virtual machines on various public clouds via a cleanly 
 controlled profile and mapping system.

Package: salt-cloud-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Recommends: libjs-sphinxdoc
Description: html documentation for salt-cloud
