#!/usr/bin/make -f

PKGFILES = pkg/*.service pkg/*.upstart pkg/*.logrotate
SALT_BIN = common minion master syndic
JS_FILES = searchtools doctools sidebar jquery underscore

%:
	cp $(PKGFILES) debian
	for d in $(SALT_BIN); do \
	    cp pkg/salt.postrm debian/salt-$${d}.postrm; done
	make -C doc html
	dh $@ 

dh_override_auto_build:
	python setup.py build

override_dh_installdocs:
	dh_installdocs
	# Remove embedded copies of javascript libs
	for f in $(JS_FILES) ; do \
	    cd debian/salt-doc/usr/share/doc/salt/html/_static/ \
	    && rm $${f}.js \
	    && ln -s ../../../../javascript/sphinxdoc/1.0/$${f}.js . \
	    && cd $(CURDIR) ; \
	    done ;

override_dh_auto_clean:
	make -C doc clean
	dh_auto_clean
