#!/usr/bin/make -f

#export DH_VERBOSE=1

include /usr/share/python/python.mk

PKGFILES := pkg/*.service pkg/*.upstart pkg/*.logrotate

%:
	cp $(PKGFILES) debian
	make -C doc html
	dh $@ --with python2
