[Unit]
Description=The Salt Master Server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/salt-syndic -d

[Install]
WantedBy=multi-user.target
