[Unit]
Description=The Salt Syndic daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/salt-syndic
Type=simple
LimitNOFILE=8192
ExecStart=/usr/bin/salt-syndic
Restart=$RESTART

[Install]
WantedBy=multi-user.target
