[Unit]
Description=The Salt Minion daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/salt-minion
Type=notify
LimitNOFILE=8192
ExecStart=/usr/bin/salt-minion
Restart=$RESTART

[Install]
WantedBy=multi-user.target
