{% for interface in interfaces %}
                <interface type='{{ interface.type }}'>
                    <source {{ interface.type }}='{{ interface.source }}'/>
                    <mac address='{{ interface.mac }}'/>
                    <model type='{{ interface.model }}'/>
                </interface>
{% endfor %}
