<volume>
  <name>{{ name }}</name>
  <source>
  </source>
  <capacity unit='KiB'>{{ size }}</capacity>
  <allocation unit='KiB'>0</allocation>
  <target>
    <format type='{{ format }}'/>
  </target>
</volume>
