<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <CustomAction Id="SetMaster"   BinaryKey='MinionConfigExt' DllEntry='SetMaster'   Execute='immediate' Return='check'/>
    <CustomAction Id="SetMinionId" BinaryKey='MinionConfigExt' DllEntry='SetMinionId' Execute='immediate' Return='check'/>
    <CustomAction Id="SetRootDir"  BinaryKey='MinionConfigExt' DllEntry='SetRootDir'  Execute='immediate' Return='check'/>
    <Binary Id='MinionConfigExt' SourceFile='MinionConfigurationExtension.CA.dll'/>
  </Fragment>
</Wix>
