[Unit]
Description=The Salt API
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/salt-api

[Install]
WantedBy=multi-user.target
