[Unit]
Description=The Salt Master Server
After=network.target

[Service]
LimitNOFILE=16384
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/salt-master
KillMode=process

[Install]
WantedBy=multi-user.target
