[Unit]
Description=The Salt Minion
After=network.target

[Service]
Type=simple
LimitNOFILE=8192
ExecStart=/usr/bin/salt-minion
KillMode=process

[Install]
WantedBy=multi-user.target
