[Unit]
Description=The Salt Master Server
After=syslog.target network.target

[Service]
Type=Notify
ExecStart=/usr/bin/salt-master

[Install]
WantedBy=multi-user.target
