---
name: Build Windows Packages

on:
  workflow_call:
    inputs:
      salt-version:
        type: string
        required: true
        description: The Salt version to set prior to building packages.

jobs:

  build-pkgs:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86
          - x64
    runs-on:
      - windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Setup Python Tools Scripts
        uses: ./.github/actions/setup-python-tools-scripts

      - name: Setup Salt Version
        id: setup-salt-version
        uses: ./.github/actions/setup-salt-version
        with:
          salt-version: "${{ inputs.salt-version }}"

      - name: Build Package
        shell: powershell
        run: |
          & pkg/windows/build.cmd -Architecture ${{ matrix.arch }} -Version ${{ inputs.salt-version }} -CICD

      - name: Upload ${{ matrix.arch }} NSIS Package
        uses: actions/upload-artifact@v3
        with:
          name: Windows ${{ matrix.arch }} NSIS Package
          path: pkg/windows/build/Salt-*.exe
          if-no-files-found: error

      - name: Upload ${{ matrix.arch }} MSI Package
        uses: actions/upload-artifact@v3
        with:
          name: Windows ${{ matrix.arch }} MSI Package
          path: pkg/windows/build/Salt-*.msi
          if-no-files-found: error

      - name: Set Exit Status
        if: always()
        run: |
          py -3 -c "import os; os.makedirs('exitstatus', exist_ok=True)"
          echo "${{ job.status }}" > exitstatus/${{ github.job }}-${{ matrix.arch }}

      - name: Upload Exit Status
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: exitstatus
          path: exitstatus
          if-no-files-found: error
