---
name: Generate Tag and Github Release

on:
  workflow_dispatch:
    inputs:
      saltVersion:
        description: 'Salt Version'
        required: true
      saltRepo:
        description: 'Salt Repo'
        default: saltstack/salt
      saltBranch:
        description: 'Salt Branch'
        default: freeze
      reTag:
        description: 'Re Tag (Deletes tag and release)'
        default: false


env:
  PIP_INDEX_URL: ${{ vars.PIP_INDEX_URL }}
  PIP_TRUSTED_HOST: ${{ vars.PIP_TRUSTED_HOST }}
  PIP_EXTRA_INDEX_URL: ${{ vars.PIP_EXTRA_INDEX_URL }}


permissions:
  contents: read

jobs:
  GenerateTagRelease:
    permissions:
      contents: write  # for dev-drprasad/delete-tag-and-release to delete tags or releases
    name: Generate Tag and Github Release
    runs-on: ubuntu-latest
    steps:
    - uses: dev-drprasad/delete-tag-and-release@v0.2.0
      if: github.event.inputs.reTag == 'true'
      with:
        delete_release: true # default: false
        tag_name: v${{ github.event.inputs.saltVersion }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@v4
      with:
        repository: ${{ github.event.inputs.saltRepo }}
        ref: ${{ github.event.inputs.saltBranch }}
    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v5.6
      with:
        create_annotated_tag: True
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_tag: ${{ github.event.inputs.saltVersion }}

    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8

    - uses: actions/checkout@v4
    - name: Install pypa/build
      run: |
        python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: |
        git fetch --tags origin
        git checkout v${{ github.event.inputs.saltVersion }}
        chmod 700 conf/cloud.*.d
        chmod 600 conf/cloud
        chmod 600 conf/cloud.profiles
        chmod 600 conf/cloud.providers
        python3 setup.py --ssh-packaging sdist
        python -m build --sdist --outdir dist/ .
    - name: Create a GitHub release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.tag_version.outputs.new_tag }}
        name: Release ${{ steps.tag_version.outputs.new_tag }}
        body: |
          WARNING: The tarball generated by GitHub will not have the correct version information when using a version not ending in .0 . Please use the tarball generated by SaltStack instead. See issue #41847 for more information.
          Official Salt packages can be found at https://repo.saltproject.io/
        artifacts: dist/salt*.tar.gz
